version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: cyberacademy_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cyberacademy_lms
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
